<footer class="footer">
    <div class="footer-list">
        <div class="footer-logo">
            <span>
            <a href="https://angular.io">Aprendiendo Angular</a>
            </span>
        </div>
        <div class="footer-version">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&themeRefresh=1" id="blinking-link">By CLICK HERE TO WIN $10000!!!!</a> <!-- Lo siento, tenia que hacelo xDDDD -->
        </div>
        <div class="footer-copyright">© Miguel Martinez 2024. All rights reserved.</div>
    </div>
</footer>