:host {
    .footer {
    padding: 12px;
    font-size: 12px;
    background: #3f51b5;
    color: #fff;
    }
    
    .footer-list {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    padding: 8px;
    }
    
    .footer-logo {
    flex: 1;
    }
    
    .footer-version {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    }
    
    .footer-copyright {
    margin-top: 0;
    display: flex;
    flex: 1;
    justify-content: center;
    min-width: 225px;
    margin-top: 16px;
    }
    
    .footer a {
        font-size: 16px;
        padding: 0;
        text-decoration: none;
        color: white;
    }

    /* Target specific anchor with ID */
    #blinking-link {
        animation: blink 1.5s infinite; /* Add the blinking animation */
    }
    }

/* Keyframes for blinking effect */
@keyframes blink {
    0% { color: red; }
    33% { color: green; }
    66% { color: blue; }
    100% { color: red; }
}